body {
  padding: 0;
  margin: 0 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins", Plus Jakarta Sans;
  padding-top: 100px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(113, 106, 113, 0.2);
  gap: 400px;
  position: fixed;
  top: 0;
  padding: 4px 12px;
  left: 0;
  right: 0;
  height: 70px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  z-index: 99;
}
.Logo img {
  width: 170px;
  height: 50px;
}

.logIn {
  text-decoration: none;
  background-color: rgb(46, 187, 119);
  color: #2e3132b5;
  padding: 10px 26px 10px 26px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 7px;
  align-self: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border: none;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.logIn:hover {
  background-color: rgb(38, 41, 40);
  color: #e2e9ebfd;
}
.logIn1 {
  text-decoration: none;
  color: rgb(35, 49, 43);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  align-self: center;
}

.form-fild {
  width: 370px;
  padding: 15px 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  height: 440px;
  border: 2px solid #2e3132b5;
}

.form-header h2 {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  pointer-events: none;
  user-select: none;
}
.formSect {
  width: 100%;
  height: 100%;
}
.formSect .input-sect label {
  display: block;
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 4px;
}
.formSect .input-sect input {
  width: 97%;
  border: none;
  border-bottom: 2px solid #2e3132b5;
  outline: none;
  height: 30px;
  font-size: 16px;
  padding: 0 0 0 10px;
  font-weight: 500;
}
.footer-form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.footer-form span {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}
.footer-form a {
  text-decoration: underline;
  font-size: 17px;
  font-weight: 500;
  margin-left: 12px;
  text-align: center;
}
.forgot-remember {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.forgot-remember input {
  margin-right: 5px;
  vertical-align: middle;
}

.forgot-remember label {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 70px;
}
.forgot-remember a {
  text-align: center;
  text-decoration: none;
  color: rgba(6, 57, 40, 0.753);
  margin-left: 20px;
  font-weight: 500;
}
.forgot-remember a:hover {
  text-decoration: underline;
  color: rgb(138, 152, 164);
}
.btn {
  margin-top: 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(46, 187, 119);
  transition: background-color 0.34s, color 0.34s;
}
